*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bg{
    background-image: url('img2.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#video{
    background-color: white;
}
.multicolortext {
    background-image: linear-gradient(to left, indigo, green, blue,  orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
button{
    cursor: pointer;
    font-size: 20px;
   background-color: blanchedalmond;
   border:2px solid black;
   padding: 4px;
   border-radius: 5px;
   margin-bottom: 10px;
}

button:hover{
    color:white;
    background-color: black;
}
h1{
    margin:10px;
    margin-top: 40px;
    margin-bottom: 30px;
}
#start{
    margin-right: 40px;
}
h3{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
